.tableHead{
    position: relative;
}
.tableHead table {
    margin-left: -30px;
    width: 750px;
    border-collapse: collapse;
  }
  
  .tableHead th, .tableHead td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tableHead th {
    background-color: #f4f4f4;
    text-align: left;
  }

  .sl{
    width: 10px;
  }

  .fit{
    width:fit-content;
  }
  